---
import Layout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets"; // Esto es para usar la img de la flecha
import arrowImg from "../assets/arrow.webp";
import Slider from "../components/Slider.astro";
---

<Layout title="Vladimir KZ | Frontend Dev">
  <main class="m-0 w-[86vw] md:w-[70vw] text-center">
    <section
      id="home"
      class="pt-10 flex flex-col items-center justify-center h-[100vh]"
    >
      <h1 class="text-5xl lg:text-6xl font-bold">Hola, soy Vladimir.KZ</h1>
      <h2 class="text-[#a9792b] text-4xl lg:text-5xl my-2 font-bold">
        Web Developer
      </h2>
      <p class="parrafo">
        Creo sitios de e-commerce, páginas web personalizadas, blogs y, en
        general, <span class="font-bold">soluciones eficientes</span> adaptadas a
        tus necesidades; todo con el objetivo de <span class="font-bold"
          >simplificar procesos</span
        > y hacerte la vida un poco más sencilla.
      </p>
      <p class="parrafo"></p>

      <p class="parrafo text-sky-400 font-semibold">
        Uso tecnologías como HTML, CSS, JavaScript, Astro, Tailwind...
      </p>

      <!-- La flecha  -->

      <a
        class="mt-11 sm:mt-16 flex justify-center transform hover:scale-110 transition-transform duration-200"
        href="#projects"
        ><Image
          src={arrowImg}
          alt="arrow"
          class="h-10 w-auto animate-bounce"
          loading="eager"
        /></a
      >
    </section>

    <section id="projects" class="section-style">
      <h2 class="text-lg mb-8">
        Acá unos pocos ejemplos del tipo de proyectos que puedo crear:
      </h2>

      <Slider />
    </section>

    <section
      id="about"
      class="h-[100vh] flex flex-col text-start justify-center"
    >
      <h2 class="text-3xl font-bold mb-5">Sobre mi:</h2>

      <p class="text-base sm:lg lg:text-xl">
        Soy Vladimir, un joven amante de la tecnología, la mejora continua y el
        aprendizaje autodidacta.
      </p>
      <p class="text-base sm:text-lg lg:text-xl my-3">
        Actualmente soy <span class="font-bold">desarrollador frontend</span>.
      </p>

      <p class="text-base sm:text-lg lg:text-xl">
        Priorizando la eficiencia y aprovechando al máximo cada oportunidad para
        aportar, mejorar y crecer como persona y como profesional.
      </p>

      <p class="text-base sm:text-lg lg:text-xl my-3">
        Tan pragmático como idealista. Fan del ejercicio físico, la lectura y la
        música; siempre intentando trabajar en esa sinergia entre cuerpo y
        mente.
      </p>
    </section>

    <section id="contact" class="section-style gap-6 text-gray-200">
      <div>
        <p class="text-2xl font-semibold">
          Siempre disponible para nuevos retos.
        </p>
        <p class="text-2xl font-semibold">Me puede contactar a:</p>
      </div>

      <div class="flex justify-center items-center gap-5">
        <a target="_blank" href="mailto:vladimircf.pv@gmail.com"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            x="0px"
            y="0px"
            width="2rem"
            height="2rem"
            viewBox="0,0,256,256"
          >
            <title>Gmail</title>
            <g
              fill="#ffffff"
              fill-rule="nonzero"
              stroke="none"
              stroke-width="1"
              stroke-linecap="butt"
              stroke-linejoin="miter"
              stroke-miterlimit="10"
              stroke-dasharray=""
              stroke-dashoffset="0"
              font-family="none"
              font-weight="none"
              font-size="none"
              text-anchor="none"
              style="mix-blend-mode: normal"
              ><g transform="scale(5.12,5.12)"
                ><path
                  class="mi-path"
                  d="M12,23.403v-0.013v-13.001l-0.12,-0.089h-0.01l-2.73,-2.02c-1.67,-1.24 -4.05,-1.18 -5.53,0.28c-0.99,0.98 -1.61,2.34 -1.61,3.85v3.602zM38,23.39v0.013l10,-7.391v-3.602c0,-1.49 -0.6,-2.85 -1.58,-3.83c-1.46,-1.457 -3.765,-1.628 -5.424,-0.403l-2.876,2.123l-0.12,0.089zM14,24.868l10.406,7.692c0.353,0.261 0.836,0.261 1.189,0l10.405,-7.692v-13.001l-11,8.133l-11,-8.133zM38,25.889v15.111c0,0.552 0.448,1 1,1h6.5c1.381,0 2.5,-1.119 2.5,-2.5v-21.003zM12,25.889l-10,-7.392v21.003c0,1.381 1.119,2.5 2.5,2.5h6.5c0.552,0 1,-0.448 1,-1z"
                ></path></g
              ></g
            >
          </svg></a
        >
        <a target="_blank" href="https://t.me/hakaiz"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            x="0px"
            y="0px"
            width="2rem"
            height="2rem"
            viewBox="0,0,256,256"
          >
            <title>Telegram</title>
            <g
              fill="#ffffff"
              fill-rule="nonzero"
              stroke="none"
              stroke-width="1"
              stroke-linecap="butt"
              stroke-linejoin="miter"
              stroke-miterlimit="10"
              stroke-dasharray=""
              stroke-dashoffset="0"
              font-family="none"
              font-weight="none"
              font-size="none"
              text-anchor="none"
              style="mix-blend-mode: normal"
              ><g transform="scale(5.12,5.12)"
                ><path
                  class="mi-path"
                  d="M25,2c12.703,0 23,10.297 23,23c0,12.703 -10.297,23 -23,23c-12.703,0 -23,-10.297 -23,-23c0,-12.703 10.297,-23 23,-23zM32.934,34.375c0.423,-1.298 2.405,-14.234 2.65,-16.783c0.074,-0.772 -0.17,-1.285 -0.648,-1.514c-0.578,-0.278 -1.434,-0.139 -2.427,0.219c-1.362,0.491 -18.774,7.884 -19.78,8.312c-0.954,0.405 -1.856,0.847 -1.856,1.487c0,0.45 0.267,0.703 1.003,0.966c0.766,0.273 2.695,0.858 3.834,1.172c1.097,0.303 2.346,0.04 3.046,-0.395c0.742,-0.461 9.305,-6.191 9.92,-6.693c0.614,-0.502 1.104,0.141 0.602,0.644c-0.502,0.502 -6.38,6.207 -7.155,6.997c-0.941,0.959 -0.273,1.953 0.358,2.351c0.721,0.454 5.906,3.932 6.687,4.49c0.781,0.558 1.573,0.811 2.298,0.811c0.725,0 1.107,-0.955 1.468,-2.064z"
                ></path></g
              ></g
            >
          </svg></a
        >

        <a target="_blank" href="https://www.linkedin.com/in/vladimir-kz/">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            x="0px"
            y="0px"
            width="2rem"
            height="2rem"
            viewBox="0,0,256,256"
          >
            <title>Linkedin</title>
            <path
              class="mi-path"
              fill="#ffffff"
              d="M218.123 218.127h-37.931v-59.403c0-14.165-.253-32.4-19.728-32.4-19.756 0-22.779 15.434-22.779 31.369v60.43h-37.93V95.967h36.413v16.694h.51a39.907 39.907 0 0 1 35.928-19.733c38.445 0 45.533 25.288 45.533 58.186l-.016 67.013ZM56.955 79.27c-12.157.002-22.014-9.852-22.016-22.009-.002-12.157 9.851-22.014 22.008-22.016 12.157-.003 22.014 9.851 22.016 22.008A22.013 22.013 0 0 1 56.955 79.27m18.966 138.858H37.95V95.967h37.97v122.16ZM237.033.018H18.89C8.58-.098.125 8.161-.001 18.471v219.053c.122 10.315 8.576 18.582 18.89 18.474h218.144c10.336.128 18.823-8.139 18.966-18.474V18.454c-.147-10.33-8.635-18.588-18.966-18.453"
            ></path></svg
          >
        </a>
      </div>
    </section>
  </main>
</Layout>

<style>
  .section-style {
    @apply flex flex-col justify-center items-center h-[100vh];
  }

  .parrafo {
    @apply text-lg lg:text-xl mt-4;
  }
</style>
